* {
    margin: 0px;
    padding: 0px;
    color: white;
}

.bg-dark1 {
    background-color: #141414;
}

.color-gray {
    color: #818181;
}

.border-gray1 {
    border-color: #818181;
}

header {
    nav {
        font-size: 12px;
    }
}


main {
    .dropdown {
        button {
            background-color: #000000;
            font-size: 11px;
        }
    }
    .grigliaNet {
        flex-wrap: nowrap; 
    }
}



footer {
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 100px;
    .colorFooter {
        color: #818181;
    }
    p {
        font-size: 11px;
        @extend .colorFooter;
        margin-bottom: 8px;
    }
    i {
        font-size: 20px;
    }
}