* {
    margin: 0px;
    padding: 0px;
    color: white;
}

$gray1 : #818181;

.bg-dark1 {
    background-color: #141414;
}

.color-gray {
    color: $gray1;
}

.border-gray1 {
    border-color: $gray1;
}



header {
    nav {
        font-size: 12px;
    }
}



main {
    .dropdown {
        button {
            background-color: #000000;
            font-size: 11px;
        }
    }
    .grigliaNet {
        flex-wrap: nowrap; 
    }
}



footer {
    padding-left: 20%;
    padding-right: 20%;
    @media screen and (max-width : 992px) {  //sotto lg
        padding-left: 10%;
        padding-right: 10%;
    }
    margin-top: 100px;
    .colorFooter {
        color: $gray1;
    }
    p {
        font-size: 11px;
        @extend .colorFooter;
        margin-bottom: 8px;
    }
    i {
        font-size: 20px;
    }
}

.mainProfile {
    margin: 0 auto;
    width: 50%;
}