* {
    margin: 0px;
    padding: 0px;
    color: white;
}

$gray1 : #818181;

.bg-dark1 {
    background-color: #141414;
}

.color-gray {
    color: $gray1;
}

.border-gray1 {
    border-color: $gray1;
}

.colorProfileMiniTitle {
    color: #C4C5BB;
}



.buttonGray, .deleteButtonGray {
    border: 1px solid $gray1;
    background-color: transparent;
    color: $gray1;
    letter-spacing: 2px;
    padding: 3px 20px;
    text-transform: uppercase;
    font-weight: 600;
    &:hover {
        background-color: white;
        color: #141414;
    }
}

.deleteButtonGray:hover{
    background-color: #8E0E16;
    color: white;
}


header {
    nav {
        font-size: 12px;
    }
}



main {
    .dropdown {
        button {
            background-color: #000000;
            font-size: 11px;
        }
    }
    .grigliaNet {
        flex-wrap: nowrap; 
    }
}



footer {
    padding-left: 20%;
    padding-right: 20%;
    @media screen and (max-width : 992px) {  //sotto lg
        padding-left: 10%;
        padding-right: 10%;
    }
    margin-top: 100px;
    .colorFooter {
        color: $gray1;
    }
    p {
        font-size: 11px;
        @extend .colorFooter;
        margin-bottom: 8px;
    }
    i {
        font-size: 20px;
    }
}

.mainProfile {
    margin: 0 auto;
    width: 50%;
    p {
        font-size: 12px;
    }
}

.form-check-input {
    width: 1.5rem; /* Larghezza del checkbox */
    height: 1.5rem; /* Altezza del checkbox */
    background-color: transparent; /* Colore di sfondo quando non selezionato */
    border: 1px solid #6c757d; /* Colore del bordo quando non selezionato */
    position: relative; /* Necessario per il posizionamento dell'icona */
    cursor: pointer;
  }

  .form-check-input:checked {
    background-color: #6c757d; /* Colore di sfondo quando selezionato */
    border-color: #6c757d; /* Colore del bordo quando selezionato */
    color: #6c757d;
  }

